body {
    height: 100%;
    font-family: monospace;
    margin: 0;
    overflow: hidden;
    font-size: 15px;
}

canvas {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    z-index: -1;
}

p {
    color: rgb(255, 255, 255);
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.flex-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    backdrop-filter: blur(5px);
    margin: 0 auto;
    border: 1px rgb(104, 104, 104) solid;
    border-radius: 10px;

    overflow: hidden;
    padding: 10px;

    margin-top: 100px;
}

.flex-wrapper__header {
    font-family: monospace;
    font-size: 15px;
    margin-top: 10px;
    color: #fff;

    white-space: nowrap;
    overflow: hidden;
}

.static-text {
    text-align: left;
}

.animated-text {
    width: 43ch;
    font-size: 15px;
    border-right: 1.5px solid;

    animation: printed-text 7s steps(43),
    flashing-border 0.75s 7s step-end infinite;

}

@keyframes flashing-border {
    0%{
        border-color: #fff;
    }
    50%{
        border-color: transparent;
    }
    100%{
        border-color: #fff;
    }
}

@keyframes printed-text {
    from{
        width: 0;
    }
}

.add-todo-wrapper {
    display: flex;
    width: 400px;
    min-height: 40px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
}

.input-wrapper {
    width: 87%;
}

.input-wrapper input {
    background-color: transparent;
    color: #ffff;
    width: 100%;
    height: 25px;
    border: rgb(104, 104, 104) 1px solid;
    border-radius: 5px;

    outline: none;
}

.input-wrapper input:focus {
    border: rgb(255, 255, 255) 1px solid;
}

.button-wrapper button {
    width: 40px;
    background-color: transparent;
    border-radius: 5px;
    color: #ffff;
    outline: none;
    border: rgb(104, 104, 104) 1px solid;
    height: 29px;
    cursor: pointer;

    transition: all 0.2s linear;
}

.button-wrapper button:hover {
    border: rgb(255, 255, 255) 1px solid;
}

.todos-wrapper {
    width: auto;
    max-height: 435px;
    overflow-y: scroll;
    padding: 0 5px;
}

.todo-item {
    display: flex;
    width: 500px;
    min-height: 50px;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: transparent;
}

.todo-item.checked {
    background-color: darkgray;
    opacity: 0.5;
}

.todo-item.deletion {
    animation: opacity 1s ease-in-out;
}

.description {
    width: 85%;
    display: flex;
    align-items: center;
    color: floralwhite;

    overflow-y: scroll;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttons input {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.buttons button {
    outline: none;
    border: none;
    background-color: transparent;
    border: 1px solid rgb(104, 104, 104);
    color: #ffff;
    cursor: pointer;
    height: 25px;
    border-radius: 5px;

    transition: all 0.2s linear;
}


.buttons button:hover {
    border: 1px solid rgb(253, 253, 253);
}

@keyframes opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.todos-wrapper::-webkit-scrollbar {
    width: 0px;
}

.todos-wrapper.scroll::-webkit-scrollbar  {
    width: 8px;
}


::-webkit-scrollbar-track {
    background: rgb(47, 47, 47);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(104, 104, 104);
    border-radius: 20px;
    border: 1px rgba(104, 104, 104, 1) solid;
}


/* ======= Play/Pause buttons ======= */

.play-btn {
    position: fixed;
    top: 10px;
    right: 10px;

    width: 40px;
    height: 40px;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;

    cursor: pointer;
}

.play-btn__inner {
    width: 100%;
    height: 100%;
    position: relative;
}

.control {
    opacity: 0;
    visibility: hidden;

    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    right: 0;

    transition: all 0.1s linear;
}

.control.active {
    opacity: 1;
    visibility: visible;
}

.svg:hover path {
    fill: white;
}



/* ======= Media ======= */


@media (max-width: 767px) {

    .flex-wrapper {
        width: 400px;

    }

    .todo-item {
        width: 380px;
    }

    .add-todo-wrapper {
        width: 300px;
    }

    .input-wrapper {
        width: 83%;
    }
}

@media (max-width: 480px) {

    .flex-wrapper {
        width: 340px;
        margin-top: 60px;
    }

    .animated-text, .description, .p {
        font-size: 13px;
    }

    .todo-item {
        width: 310px;
    }

    .play-btn {
        top: 10px;
        right: 10px;

        width: 30px;
        height: 30px;
    }

    .buttons input {
        width: 25px;
        height: 25px;
    }

    .add-todo-wrapper {
        width: 280px;
    }

    .input-wrapper {
        width: 82%;
    }
}


@media (max-width: 380px) {

    .flex-wrapper {
        width: 290px;

    }

    .animated-text, .description, .p {
        font-size: 12px;
    }

    .todo-item {
        width: 260px;
    }
}

@media (max-width: 330px) {

    .flex-wrapper {
        width: 270px;

    }

    .animated-text {
        font-size: 11px;
        font-weight: 600;
    }

    p {
        font-size: 12px;
    }

    .todos-wrapper {
        font-size: 12px;
    }

    .todo-item {
        width: 250px;
    }
}